name: Deploy_docs
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@main
        with:
          python-version: "3.12"
      - run: pip install uv
      - run: uv pip install --system mkdocs-material pymdown-extensions
      - run: mkdocs gh-deploy --force
