name: Lint
on:
  push:
    branches:
      - dev
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: actions/setup-python@main
      with:
        python-version: "3.12"
        architecture: x64
    - run: pip install uv
    - run: uv pip install --system .[dev]
    - run: ruff check .
